body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #379b2a;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0 10px;
}

nav ul {
    
    list-style: none;
    padding: 0;
}

nav ul li {
    background-color: #2f5511e7;
    border-radius: 12px;
    padding: 10px 20px;
    display: inline;
    margin: 0 10px;
}

nav ul li:hover {
    background-color: #62aa2b;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

section img {
    max-width: 50%;
    height: auto;
    order: 2;
}

.feature-content {
    flex: 1;
    max-width: 50%;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}
.cover-image {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.authors {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px 0;
    position: relative;
}

.authors a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    margin: 0 10px;
    position: relative;
}

.authors img {
    height: 40px;
    width: 40px;
}

/* Tooltip */
.authors a:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.authors a:hover::after {
    opacity: 1;
}

footer {
    background-color: #379b2a;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}